name: NeoWatch Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential ccache git zlib1g-dev libncurses5-dev libgdbm-dev libnss3-dev libssl-dev libreadline-dev libffi-dev libsqlite3-dev wget curl lld
      - name: Install Buildozer
        run: pip install --upgrade pip buildozer kivy cython==0.29.33
      - name: Build APK
        run: yes | buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NeoWatch-APK
          path: bin/*.apk
